*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Overpass', sans-serif;
}
.king-header{
  background-color: #5800FF;
  width: 100%;
  height: 120px;
  border-bottom: 4mm ridge rgba(44, 0, 200,1)
}
.king-header_logo{
  max-width: 100px;
  height: 100%;
  float: left;
  position: relative;
  padding-left: 2.5%;
}
.king-header_tittle{
  max-width: 200px;
  height: 100%;
  float: left;
  padding-left: 2.5%;
}
.king-header_tittle > h1{
  margin-top: 25%;
}
.king-header_tittle > h1 > a{
  color: black;
  text-decoration: none;
  font-weight: 900;
}
.king-header_nav{
  max-width: 200px;
  height: 100%;
  float: right;
  position: relative;
  padding-right: 2.5%;
}
.king-header_nav > h1{
  margin-top: 60%;
}
.king-header_nav > h1 > a{
  color: black;
  text-decoration: none;
}
.king-header_logo > img{
  max-width: 75px;
  max-height: 75px;
  margin-top: 25%;
  border-radius: 100px;
}
.king-header_inner{
  width: 70%;
  height: 120px;
  background-color: #FFC600;
  margin: 0 auto;
}
.wrapper {
  min-height: 100vh;
}
.king-main{
  width: 70%;
  height: auto;
  background-color: lightgrey;
  margin: 0 auto;
  color: white;
box-shadow: 7px 3px 13px 3px rgba(0,0,0,0.59);
-webkit-box-shadow: 7px 3px 13px 3px rgba(0,0,0,0.59);
-moz-box-shadow: 7px 3px 13px 3px rgba(0,0,0,0.59);
}

.king-main_welcome{
  width: 100%;
  height: 10% auto;
  background-color: #E900FF;
}
.king-main_welcome > h1{
  font-size: 350%;
  text-align: center;
}
.king-main_welcome > h2{
  font-size: 300%;
  text-align: center;
}
.king-main_beats{
  background-color: #FFC600;
  width: 100%;
  min-height: 50vh;
}
.beat-foundament{
  width: 25vh;
  height: 40vh;
  background-color: #5800FF;
  border-radius: 20px;
  display: inline-block;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 1%;
  margin-right: 1%;
  vertical-align: center;
  transition: 0.5s;
  box-shadow: 0px 2px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 27px 0px rgba(0,0,0,0.75);




}
.beat-foundament > img{
  width: 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.beat-info{
  width: 100%;
  height: 25%;
  font-size: 2.5vh;
  text-align: center;
}
.beat-button_section{
  height: 10%;
  width: 100%;
}
.beat-button_section > button{
  width: 50%;
  height: 70%;
  font-size: 2.5vh;
  font-weight: bolder;
  border: none;
  border-radius: 100px;
  margin: 0 auto;
  background-color: lightgreen;
  transition: 1s;
  text-decoration: none;
}
.beat-button_section > button > a{
  color: black;
  text-decoration: none;
  font-weight: 900;
  transition: 0.5s;
}
.beat-button_section > button > a:hover{
  color: white;
  transition: 0.5s;
}
.beat-button_section > button:hover{
  transition: 0.5s;
  background-color: green;

}
.king-main_drumkits{
  background-color: #FFC600;
  width: 100%;
  min-height: 50vh;
}
.king-main_welcome-drumkits{
  border-top: 4mm ridge rgba(44, 0, 200,1);
  width: 100%;
  height: 10% auto;
  background-color: #E900FF;
}

.king-main_welcome-drumkits > h1{
  font-size: 350%;
  text-align: center;
}
.king-main_welcome-drumkits > h2{
  font-size: 300%;
  text-align: center;
}

.king-main_article-1{
  background-color: #FFC600;
  width: 100%;
  height: auto;
}
.king-main_article-1 > p{
  font-size: 180%;
  width: 75%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
.king-main_welcome-info{
  border-top: 4mm ridge rgba(44, 0, 200,1);
  width: 100%;
  height: 10% auto;
  background-color: #E900FF;
}


.king-main_welcome-info > h1{
  font-size: 350%;
  text-align: center;
}
.king-main_welcome-info > h2{
  font-size: 300%;
  text-align: center;
}
.king-footer{
  height: auto;
  width: 100%;
  background-color: #5800FF;
}
.king-footer > a{
  display: inline-grid;
  background-color: #E900FF;
  width: 15vh;
  min-height: 50px;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  border-radius: 25px;
  font-weight: 900;
  transition: 0.3s;
}
.king-footer > a > p{
  height: 30%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  margin-top: 0.6em;
  font-size: 20px;
  transition: 0.3s;
}
.king-footer > a > p:hover{
  color: white;
}
.king-footer > a:hover{
  background-color: #E90064;
}
